.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.footer-wrapper img {
  height: 100px;
  border-radius: 5px;
}
.session-form-header-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.session-form-header {
  color: #6a6a6a;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  font-family: caecilia, Times, serif;
  font-weight: lighter;
}

.session-logo {
  margin: 0 auto;
}

.session-form-container {
  background-color: #F3F3F3;
  min-height: 400px;
  padding-bottom: 50px;
}

.session-form-wrapper {
  margin: 0 auto;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: white;
  padding: 10px 0;
}

.google-signin-wrapper {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.google-button {
  width: 77%;
  height: 40px;
  background-color: white;
  border: solid 1px #d0d0d0;
  border-radius: 7px;
  color: #6a6a6a;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.google-button:hover {
  cursor: pointer;
}

.google-img {
  position: relative;
  right: 30px;
}

.google-inner {
  max-width: 280px;
  font-size: 16px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #6a6a6a;
  display: inline-block;
  position: relative;
}

.session-form-horizontal-divider {
  color: #ababab;
  font-size: 14px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  width: 98%;
  position: relative;
  left: 5px;
}

.left-divider {
  width: 135px;
  margin: 10px 10px 10px 35px;
  border-top: 1px solid #ababab;
}

.right-divider {
  width: 135px;
  margin: 10px 35px 10px 10px;
  border-top: 1px solid #ababab;
}

.session-form-box {
  display: flex;
  flex-direction: column;
}

.session-form-input {
  width: 71%;
  margin: 0 auto;
  font-size: 1em;
  border: 1px solid #cacaca;
  border-radius: 7px;
  margin-bottom: 1em;
  height: 20px;
  padding: 0.59375em 0.75em;
}

.session-form-input:focus {
  box-shadow: 0 0 0 1px #7aa7cf, 0 0 4px 0 #3d96e3;
  border-color: #7aa7cf;
  outline: none;
}

.session-form-submit {
  width: 77%;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #2dbe60;
  border: 1px solid #1fae52;
  color: white;
  border-radius: 7px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 1.2em;
}

.session-form-submit:hover {
  cursor: pointer;
}

.switch-session-form-wrapper {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  color: #747474;
  line-height: 1.63636364;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.91666667em;
}

.session-page-link {
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2dbe60;
  text-decoration: none;
}
/*# sourceMappingURL=index_style.css.map*/