/* TODO: modulate css files and bundle into one using webpack */

#root p{
  color: blue;
  background-color: black;
}
/* Session Form */

button {
  background-color: green;
}

/* Footer */

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.footer-wrapper img {
  height: 200px;
}
